/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/adding-content/lookandfeel/#project-style-files
*/

$enable-gradients: false !default;
$primary:  #6f42c1;
$warning:   #fd7e14 ;
$secondary:    #6610f2  ;
$info:    #17a2b8;
